In [54]:
import pytesseract
import PIL.Image
import cv2
from bs4 import BeautifulSoup
import pandas as pd

In [80]:
myconfig=r"--psm 6 --oem 3"

In [81]:
text=pytesseract.image_to_alto_xml(PIL.Image.open("pdf/page9.jpg"),config=myconfig)
# text
# ,output_type=pytesseract.Output.DICT

In [82]:
soup = BeautifulSoup(text, "html.parser")

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/bs4/builder/__init__.py:545: XMLParsedAsHTMLWarning: It looks like you're parsing an XML document using an HTML parser. If this really is an HTML document (maybe it's XHTML?), you can ignore or filter this warning. If it's XML, you should know that using an XML parser will be more reliable. To parse this document as XML, make sure you have the lxml package installed, and pass the keyword argument `features="xml"` into the BeautifulSoup constructor.
  warnings.warn(

In [83]:
a=soup.findAll("string")
# a
# t[15]

In [84]:
t=soup.findAll("textline")
names=[]
cnt=0
flag=0
for i in range(3,len(t),6):
    string=t[i].findAll("string")
    x=""
    for j in range(0,len(string)):
        
        if(string[j]["content"]!="Name:" and cnt==0):
            x=string[j]["content"]
            cnt+=1
        elif(string[j]["content"]!="Name:" and cnt>=1):
            x =' '.join([x, string[j]["content"]]) 
            cnt+=1
        if(string[j]["content"]=="Name:"):
            if(x==""):
                continue
            if(cnt>1):
                names.append(x)
                cnt=0
            else:
                names.append(x)
                cnt=0
len(names)
names

['S PERUMAL',
 'N SIVA',
 ' S GOWRI',
 'CRUKHMINI',
 ' p ganesh',
 'E NAGARAJ',
 ' Name : k bharathi',
 'PRATHIMA',
 ' Name : R KOMATHI',
 'C KALIYAMMA',
 ' GANDHIYAMMA',
 'S DELLI KUMAR',
 ' BGANGAMMA',
 'KOKILA',
 ' BBABU',
 'BMANJULA',
 ' DEEPAN',
 'BMUTHAIAH',
 ' BHANU',
 'RAJESHWARI']

In [85]:
guardian=[]
cnt=0
flag=0
for i in range(4,len(t),6):
    string=t[i].findAll("string")
    x=""
    for j in range(0,len(string)):
        
        if(string[j]["content"]!="Father's" and string[j]["content"]!="Husband's"  and string[j]["content"]!="Name" and string[j]["content"]!=":" and string[j]["content"]!="Name:" and cnt==0):
            x=string[j]["content"]
            cnt+=1
        elif(string[j]["content"]!="Father's" and string[j]["content"]!="Husband's"  and string[j]["content"]!="Name" and string[j]["content"]!=":" and string[j]["content"]!="Name:"  and cnt>=1):
            x =' '.join([x, string[j]["content"]]) 
            cnt+=1
        if(string[j]["content"]=="Father's" or string[j]["content"]=="Husband's"  or string[j]["content"]=="Name" or string[j]["content"]==":" or string[j]["content"]=="Name:" ):
            if(x==""):
                continue
            elif(cnt>1):
                guardian.append(x)
                cnt=0
            else:
                guardian.append(x)
                cnt=0
len(guardian)
guardian=list(dict.fromkeys(guardian))
guardian

['S SUBRAMANYAM',
 'N NATESHAN',
 ' N SRINIVASHAN',
 'CPANDU MODALI',
 ' PERUMAL',
 'ISUBHRAMANYAM',
 ' KRISHNAIAH',
 'DORAI',
 ' - RPAYANI',
 'CBHOOPAL',
 ' SUBRAMANYAM',
 'B SUBRAMANYAM.',
 ' BMUTHAIAH',
 'PARADESHI',
 ' BETHIRAJULU',
 'BBAABU',
 ' GOVINDA SWAMY N',
 'BMUNEIAH',
 ' PARADESHI',
 'VENKATESULU']

In [86]:
house_number=[]
cnt=0
flag=0
for i in range(5,len(t),6):
    string=t[i].findAll("string")
    x=""
    for j in range(0,len(string)):
        
        if(string[j]["content"]!="House" and string[j]["content"]!="Number:"  and string[j]["content"]!="Number" and string[j]["content"]!="-" and string[j]["content"]!=":" and cnt==0):
            x=string[j]["content"]
            cnt+=1
        elif(string[j]["content"]!="House" and string[j]["content"]!="Number:"  and string[j]["content"]!="Number" and string[j]["content"]!="-" and string[j]["content"]!=":" and cnt>=1):
            x =' '.join([x, string[j]["content"]]) 
            cnt+=1
        if(string[j]["content"]=="House" or string[j]["content"]=="Number:"  or string[j]["content"]=="Number" or string[j]["content"]=="-" or string[j]["content"]==":" ):
            if(x==""):
                continue
            elif(cnt>1):
                house_number.append(x)
                cnt=0
            else:
                house_number.append(x)
                cnt=0
len(house_number)
house_number=list(dict.fromkeys(house_number))
house_number

['31-369',
 '31-370',
 ' 31-371',
 '31-371',
 ' 31-372',
 '31-373',
 ' 31-374',
 '31-376',
 ' = 31-377',
 '31-378',
 ' 31-379',
 '31-379',
 ' 31-380',
 '31-380',
 ' 31-381',
 '31-381',
 ' 31-382',
 '31-382',
 ' 31-384',
 '31-386']

In [88]:
age_list=[]
cnt=0
flag=0
for i in range(6,len(t),6):
    string=t[i].findAll("string")
    x=""
    for j in range(0,len(string)):
        if(string[j]["content"].isnumeric()):
            age_list.append(string[j]["content"])
len(age_list)
age_list=[value for key,value in enumerate(age_list,1) if key%3!=0 ]
age_list

['41',
 '48',
 '38',
 '70',
 '55',
 '54',
 '37',
 '33',
 '50',
 '57',
 '58',
 '32',
 '71',
 '41',
 '49',
 '47',
 '36',
 '74',
 '44',
 '55']

In [74]:
gender=[]
cnt=0
flag=0
for i in range(6,len(t),6):
    string=t[i].findAll("string")
    x=""
    for j in range(0,len(string)):
        if(string[j]["content"]=="MALE" or string[j]["content"]=="FEMALE"):
            gender.append(string[j]["content"])
len(gender)
gender=[value for key,value in enumerate(gender,1) if key%3!=0 ]
gender

['MALE',
 'MALE',
 'FEMALE',
 'FEMALE',
 'MALE',
 'MALE',
 'FEMALE',
 'FEMALE',
 'FEMALE',
 'FEMALE',
 'FEMALE',
 'MALE',
 'FEMALE',
 'FEMALE',
 'MALE',
 'FEMALE',
 'FEMALE',
 'MALE',
 'FEMALE',
 'FEMALE']

In [75]:
t[6]

<textline height="23" hpos="76" id="line_6" vpos="214" width="1459">
<string content="Age:" height="19" hpos="76" id="string_60" vpos="218" wc="0.91" width="42"></string><sp hpos="118" vpos="218" width="13"></sp>
<string content="41" height="15" hpos="131" id="string_61" vpos="218" wc="0.96" width="17"></string><sp hpos="148" vpos="218" width="15"></sp>
<string content="Gender:" height="15" hpos="163" id="string_62" vpos="218" wc="0.96" width="72"></string><sp hpos="235" vpos="218" width="13"></sp>
<string content="MALE" height="15" hpos="248" id="string_63" vpos="218" wc="0.96" width="49"></string><sp hpos="297" vpos="218" width="165"></sp>
<string content="Photo" height="15" hpos="462" id="string_64" vpos="214" wc="0.95" width="49"></string><sp hpos="511" vpos="214" width="7"></sp>
<string content="is" height="11" hpos="518" id="string_65" vpos="218" wc="0.96" width="13"></string><sp hpos="531" vpos="218" width="47"></sp>
<string content="Age:" height="19" hpos="578" id="string_66" vpos="218" wc="0.84" width="42"></string><sp hpos="620" vpos="218" width="13"></sp>
<string content="48" height="15" hpos="633" id="string_67" vpos="218" wc="0.96" width="20"></string><sp hpos="653" vpos="218" width="12"></sp>
<string content="Gender:" height="15" hpos="665" id="string_68" vpos="218" wc="0.93" width="72"></string><sp hpos="737" vpos="218" width="14"></sp>
<string content="MALE" height="15" hpos="751" id="string_69" vpos="218" wc="0.96" width="48"></string><sp hpos="799" vpos="218" width="165"></sp>
<string content="Photo" height="15" hpos="964" id="string_70" vpos="214" wc="0.96" width="49"></string><sp hpos="1013" vpos="214" width="7"></sp>
<string content="is" height="15" hpos="1020" id="string_71" vpos="214" wc="0.96" width="13"></string><sp hpos="1033" vpos="214" width="47"></sp>
<string content="Age" height="19" hpos="1080" id="string_72" vpos="218" wc="0.87" width="42"></string><sp hpos="1122" vpos="218" width="-3"></sp>
<string content=":" height="31" hpos="1119" id="string_73" vpos="210" wc="0.46" width="9"></string><sp hpos="1128" vpos="210" width="8"></sp>
<string content="56" height="15" hpos="1136" id="string_74" vpos="218" wc="0.95" width="19"></string><sp hpos="1155" vpos="218" width="13"></sp>
<string content="Gender:" height="15" hpos="1168" id="string_75" vpos="218" wc="0.87" width="72"></string><sp hpos="1240" vpos="218" width="13"></sp>
<string content="FEMALE" height="15" hpos="1253" id="string_76" vpos="218" wc="0.96" width="74"></string><sp hpos="1327" vpos="218" width="139"></sp>
<string content="Photo" height="15" hpos="1466" id="string_77" vpos="214" wc="0.96" width="49"></string><sp hpos="1515" vpos="214" width="7"></sp>
<string content="is" height="15" hpos="1522" id="string_78" vpos="214" wc="0.96" width="13"></string>
</textline>

In [76]:
[value for key,value in enumerate(x,1) if key%3!=0 ]

[]

In [77]:
s1=pd.Series(names,name='Name')
s2=pd.Series(guardian,name='Relation')
s3=pd.Series(house_number ,name='House Number')
s4=pd.Series(age_list ,name='Age')
s5=pd.Series(gender ,name='Gender')
data = pd.concat([s1,s2,s3,s4,s5], axis=1)
data

                  Name          Relation House Number Age  Gender
0            S PERUMAL     S SUBRAMANYAM       31-369  41    MALE
1               N SIVA        N NATESHAN       31-370  48    MALE
2              S GOWRI     N SRINIVASHAN       31-371  38  FEMALE
3            CRUKHMINI     CPANDU MODALI       31-371  70  FEMALE
4             p ganesh           PERUMAL       31-372  55    MALE
5            E NAGARAJ     ISUBHRAMANYAM       31-373  54    MALE
6    Name : k bharathi        KRISHNAIAH       31-374  37  FEMALE
7             PRATHIMA             DORAI       31-376  33  FEMALE
8     Name : R KOMATHI         - RPAYANI     = 31-377  50  FEMALE
9          C KALIYAMMA          CBHOOPAL       31-378  57  FEMALE
10         GANDHIYAMMA       SUBRAMANYAM       31-379  58  FEMALE
11       S DELLI KUMAR    B SUBRAMANYAM.       31-379  32    MALE
12           BGANGAMMA         BMUTHAIAH       31-380  71  FEMALE
13              KOKILA         PARADESHI       31-380  41  FEMALE
14               BBABU       BETHIRAJULU       31-381  49    MALE
15            BMANJULA            BBAABU       31-381  47  FEMALE
16              DEEPAN   GOVINDA SWAMY N       31-382  36  FEMALE
17           BMUTHAIAH          BMUNEIAH       31-382  74    MALE
18               BHANU         PARADESHI       31-384  44  FEMALE
19          RAJESHWARI       VENKATESULU       31-386  55  FEMALE

In [79]:
data.to_csv("sample.csv",index=False)