In [1]:
import pytesseract
import PIL.Image
import cv2
from bs4 import BeautifulSoup
import pandas as pd
from pdf2image import convert_from_path
import warnings
warnings.filterwarnings("ignore") 
myconfig=r"--psm 6 --oem 3"

In [ ]:
cnt=0
flag=0
# len(images)
for m in range(5001,8298):
    names=[]
    guardian=[]
    house_number=[]
    age_list=[]
    gender=[]
    text=pytesseract.image_to_alto_xml(PIL.Image.open(f"pdf/page{m}.jpg"),config=myconfig)
    if(m%50==0):
        print(f"{m}",sep=" ")
    soup = BeautifulSoup(text, "html.parser")
    t=soup.findAll("textline")
    cnt=0
    flag=0
    for i in range(3,len(t),6):
        string=t[i].findAll("string")
        x=""
        for j in range(0,len(string)):

            if(string[j]["content"]!="Name:" and cnt==0):
                x=string[j]["content"]
                cnt+=1
            elif(string[j]["content"]!="Name:" and cnt>=1):
                x =' '.join([x, string[j]["content"]]) 
                cnt+=1
            if(string[j]["content"]=="Name:"):
                if(x==""):
                    continue
                if(cnt>1):
                    names.append(x)
                    cnt=0
                else:
                    names.append(x)
                    cnt=0
    cnt=0
    flag=0
    for i in range(4,len(t),6):
        string=t[i].findAll("string")
        x=""
        for j in range(0,len(string)):

            if(string[j]["content"]!="Father's" and string[j]["content"]!="Husband's"  and string[j]["content"]!="Name" and string[j]["content"]!=":" and string[j]["content"]!="Name:" and cnt==0):
                x=string[j]["content"]
                cnt+=1
            elif(string[j]["content"]!="Father's" and string[j]["content"]!="Husband's"  and string[j]["content"]!="Name" and string[j]["content"]!=":" and string[j]["content"]!="Name:"  and cnt>=1):
                x =' '.join([x, string[j]["content"]]) 
                cnt+=1
            if(string[j]["content"]=="Father's" or string[j]["content"]=="Husband's"  or string[j]["content"]=="Name" or string[j]["content"]==":" or string[j]["content"]=="Name:" ):
                if(x==""):
                    continue
                elif(cnt>1):
                    guardian.append(x)
                    cnt=0
                else:
                    guardian.append(x)
                    cnt=0
    guardian=list(dict.fromkeys(guardian))
    cnt=0
    flag=0
    for i in range(5,len(t),6):
        string=t[i].findAll("string")
        x=""
        for j in range(0,len(string)):

            if(string[j]["content"]!="House" and string[j]["content"]!="Number:" and string[j]["content"]!="=" and string[j]["content"]!="Number" and string[j]["content"]!="-" and string[j]["content"]!=":" and cnt==0):
                x=string[j]["content"]
                cnt+=1
            elif(string[j]["content"]!="House" and string[j]["content"]!="Number:" and string[j]["content"]!="="   and string[j]["content"]!="Number" and string[j]["content"]!="-" and string[j]["content"]!=":" and cnt>=1):
                x =' '.join([x, string[j]["content"]]) 
                cnt+=1
            if(string[j]["content"]=="House" or string[j]["content"]=="Number:" or string[j]["content"]=="="   or string[j]["content"]=="Number" or string[j]["content"]=="-" or string[j]["content"]==":" ):
                if(x==""):
                    continue
                elif(cnt>1):
                    house_number.append(x)
                    cnt=0
                else:
                    house_number.append(x)
                    cnt=0
    house_number=list(dict.fromkeys(house_number))
    for i in range(6,len(t),6):
        string=t[i].findAll("string")
        for j in range(0,len(string)):
            if(string[j]["content"].isnumeric()):
                age_list.append(string[j]["content"])
    age_list=[value for key,value in enumerate(age_list,1) if key%3!=0 ]
    for i in range(6,len(t),6):
        string=t[i].findAll("string")
        for j in range(0,len(string)):
            if(string[j]["content"]=="MALE" or string[j]["content"]=="FEMALE"):
                gender.append(string[j]["content"])
    gender=[v for k,v in enumerate(gender,1) if k%3!=0]
    s1=pd.Series(names,name='Name')
    s2=pd.Series(guardian,name='Relation')
    s3=pd.Series(house_number ,name='House Number')
    s4=pd.Series(age_list ,name='Age')
    s5=pd.Series(gender ,name='Gender')
    data = pd.concat([s1,s2,s3,s4,s5], axis=1)
    data.to_csv("finalsample.csv", mode='a', index=False, header=data.columns)

5050
5100
5150
5200
5250
5300
5350
5400
5450
5500
5550
5600
5650
5700
5750
5800
5850
5900
5950
6000
6050
6100
6150
6200
6250
6300
6350
6400
6450
6500
6550
6600
6650
6700
6750
6800
6850
6900
6950
7000
7050
7100
7150
7200
7250
7300
7350
7400
7450
7500
7550
7600
7650
7700
7750
7800
7850
7900
7950
8000
8050
8100
8150

In [5]:
guardian

['MOHAN',
 'M SHIVAGAMI',
 ' BHASKAR V',
 'KRISHNAIAH K',
 ' R K UMAPATHI',
 'GOVINDASWAMY K',
 ' VISKUMAR',
 'R RAMA CHANDRA',
 ' SUBRAMANIYAM',
 'RAVI KUMAR S',
 ' KUMAR WS',
 'PARTHIBAN W S K',
 ' M HARI',
 'MUNASWAMI',
 ' K NARAAYANA',
 'BHOOPATHI']

In [6]:
names

['SHIVGAMI',
 'M GANESH',
 ' LAVANYAV B',
 'PRABHAKAR P-',
 ' Name : K VENKATESWARULU',
 'ANAND G',
 ' VISKAYPARTHIBAN',
 'R SIVA KUMAR',
 ' Name : RAVI KUMAR SUBRAMANIYAM',
 'SELVIR',
 ' HARI PRASAD W S K',
 'ROJAP',
 ' Name = M VASANTHA',
 ' N PUSHPA',
 'B SHELVAM']

In [7]:
age_list

['53',
 '30',
 '42',
 '62',
 '61',
 '53',
 '34',
 '48',
 '37',
 '32',
 '30',
 '61',
 '46',
 '38',
 '52',
 '47']

In [8]:
gender

['FEMALE',
 'MALE',
 'FEMALE',
 'MALE',
 'MALE',
 'MALE',
 'MALE',
 'MALE',
 'FEMALE',
 'FEMALE',
 'FEMALE',
 'MALE',
 'MALE',
 'FEMALE',
 'MALE',
 'FEMALE']

In [2]:
import pandas as pd
d=pd.read_csv("finalsample.csv")

In [3]:
d.shape

(59035, 5)

In [4]:
d.dropna(inplace=True)

In [5]:
d.shape

(43892, 5)

In [6]:
d.drop(d[d["Name"]=="Name"].index, inplace=True)

In [7]:
d.shape

(40644, 5)

In [8]:
d=d.to_csv("final.csv",index=False)

In [9]:
d=pd.read_csv("final.csv")

In [10]:
d["Name"][0]

'REVANTH G J'

In [11]:
d["Name"]=d["Name"].str.strip()
d["Relation"]=d["Relation"].str.strip()
d["House Number"]=d["House Number"].str.strip()
d["Gender"]=d["Gender"].str.strip()
d["Name"][0]

'REVANTH G J'

In [12]:
def remove(text):
    if(text[0:7]=="Name : " or text[0:7]=="Name - " ):
        text=text[7:]
        return text
    return text
remove("Name : B SAI")
d["Name"]=d["Name"].apply(remove)

In [14]:
d.to_csv("FINAL4.csv",index=False)

In [15]:
pd.read_csv("FINAL4.csv")

,Name,Relation,House Number,Age,Gender
0,REVANTH G J,JAYAKUMAR G K,3,19,MALE
1,Mitravinda,Sathyanarayana,118,31,FEMALE
2,KP SWETHA,K S PRAKASH,3-123-2 ;,20,FEMALE
3,POOJASRI R C,CHANDRASEKHAR R,3-130,20,FEMALE
4,NIHARIKA V,SREENIVASULU V,3-209B,25,FEMALE
...,...,...,...,...,...
40639,P PRISKILLA,M RAJAMANIKYAM,4-14/1,27,FEMALE
40640,PREETHIMA Name : AMUDHA,LATE PHILIP,4-47,25,FEMALE
40641,PALANIM Name : RANJAN! LATHIF,MURUGESHAN M,4-49,57,FEMALE
40642,KARTHIKA,LATHIF,4-54,31,MALE
40643,VIJAYA KUMAR,Mother's,4-142,36,FEMALE